node_modules/
automation-web/cypress/reports/
automation-api/cypress/reports/
automation-api/cypress/videos/
automation-web/cypress/videos/
automation-api/cypress/screenshots/
automation-web/cypress/screenshots/